*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
    
}

main{
    height: 100%;
    width: 100%;
}

main video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
:root{
    --color:red;
    --x:400px;
    --y:400px;
}
.box{
    height: 100%;
    width: 100%;
   background: radial-gradient(150px at var(--x)var(--y) ,rgba(255, 255, 255, 0),rgb(0, 0, 0));
   position: absolute;
   top: 0;
   left: 0;
}